@charset "UTF-8";


h1{
	text-align: center;
	margin-top: 100px;
}
#with {
	margin: 0 auto;
	margin-top: 20px;
	width: 1200px;
	height: 600px;
	border: 1px solid darkgray;
}
#width{
	margin: 0 auto;
	margin-top: 15px;
	width:1180px;
	height: 100px;
	float:top;
	border: 1px solid darkgray;
}
h3{
	margin-top: 30px;
}
#height1{
	padding: 0 !important;
	margin: 0 auto;
	margin-top: 20px;
	width: 605px;
	height: 450px;
	float: left;
	border: 1px solid darkgray;
}
#height2{
	padding: 0 !important;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 20px;
	width: 260px;
	height: 452px;
	float: left;
	border: 1px solid darkgray;
	text-align: center;
}

#height3{
	padding: 0 !important;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 20px;
	width: 260px;
	height: 452px;
	float: left;
	border: 1px solid darkgray;
	
}
h6{
	text-align: center;
	color: red;
}
.button{
	margin-top: 100px;
	text-align: center;
}
#head1{
	width:605px;
	border-bottom: 1px solid darkgray;
	padding: 0 !important;
	text-align: center;
	font-size: 20px;
}
#head2{
	width:260px;
	border-bottom: 1px solid darkgray;
	padding: 0 !important;
	text-align: center;
	font-size: 20px;
}
#head3{
	width:260px;
	border-bottom: 1px solid darkgray;
	padding: 0 !important;
	text-align: center;
	font-size: 20px;
}
.text{

	margin-top: 150px;
}
#pop{
    width:400px; height:200px; background:white;  
    position:absolute; top: 35px; left:-80px; text-align:center; 
    border:1px solid darkgray;
    text-align: center;
   }

#close{
	margin-bottom: 30px;
    width:100px;
   }
.btn1{
	margin-top: 50px;
}