@charset "UTF-8";

.title-padding {
	padding: 2em 0 2em 0;
}

.container {
	margin: 0 auto !important;
}

.form-control {
	display: inline !important;
}

.form-control-group {
	width: 15% !important;
}

.width-control {
	width: 88% !important;
}

.textarea-height-control {
	height: 15em;
}

.resize {
	resize: none;
}

.text-padding-1 {
	padding-right: 1em;
}

.text-padding-2 {
	padding-right: 2em;
}

.help-block {
	padding-left: 4.2em;
}

.buttons {
	width: auto;
	margin: 0 auto;
	text-align: center;
}