@charset "UTF-8";

#with {
	margin: 0 auto;
	margin-top: 150px;
	width: 1200px;
	height: 800px;
	border: 1px solid darkgray;
}
img{
	width: 200px;
	height: 150px;
	float: left;
	margin-top: 15px;
}
#height{
	margin: 0 auto;
	margin-top: 50px;
	width: 1100px;
	height: 700px;
	border: 1px solid darkgray;
}
h1{
	margin: 0 auto;
}
#cross{
	margin-left: 250px;
	width: 800px;
	
}
#btngroup{
	margin: 0 auto;
	height: 50px;
	width: 1000px;
}
#btn1, #btn2, #btn3, #btn4, #btn5{
	width: 150px;
	height: 50px;
	text-align: center;
	display: inline-block;
	border: 1px solid darkgray;
	margin-left: 20px;
	margin-right: 20px;
}
#menu{
	margin:0 auto;
	margin-top: 5px;
	border: 1px solid darkgray;
	width: 932px;
	height: 400px;
	position:absolute; top: 250px; left:83px; text-align:center; 
    border:2px solid darkgray;
    text-align: center;
    overflow-y: scroll;
}
#review{
	margin:0 auto;
	margin-top: 5px;
	border: 1px solid darkgray;
	width: 932px;
	height: 400px;
	position:absolute; top: 250px; left:83px; text-align:center;
    border:2px solid darkgray;
}
#truckinfo{
	margin:0 auto;
	margin-top: 5px;
	border: 1px solid darkgray;
	width: 932px;
	height: 400px;
	position:absolute; top: 250px; left:83px; text-align:center;
    border:2px solid darkgray;
}
#event{
	margin:0 auto;
	margin-top: 5px;
	border: 1px solid darkgray;
	width: 932px;
	height: 400px;
	position:absolute; top: 250px; left:83px; text-align:center;
    border:2px solid darkgray;
}
#location{
	margin:0 auto;
	margin-top: 5px;
	border: 1px solid darkgray;
	width: 932px;
	height: 400px;
	position:absolute; top: 250px; left:83px; text-align:center; 
    border:2px solid darkgray;
}
#ride, #ride-on, #call{
	width: 100px;
	height: 30px;
	text-align: center;
	display: inline-block;
	border: 1px solid darkgray;
	margin: 0 auto;
}
.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}

.col-md-3{
	
	margin: 4%;
	height: 250px;
	border: 1px solid darkgray;
	text-align: center;
	
}
.img{
	width: 200px !important;
}

.row{

	text-align: center;
	
}