@charset "UTF-8";

.addMenuTitle {
	text-align: center;
}

.addMenuTable .itemName {
	padding: 0 20px 0 20px;
	text-align: center;
}

.inputText {
	width: 100%;
}

.btns {
	margin-top: 10px;
	text-align: center;
}

#previewId {
	width: 250px;
	height: 250px;
	border: 1px gray solid;
	margin: auto;
}

#noImage {
	width: 250px;
	height: auto;
	vertical-align: top;
	margin: 89px 0;
}