@charset "UTF-8";

.menuBox {
	height: 50%;
	border: 0.5px solid lightgray;
	text-align: center;
	margin-right: 2%;
	padding-top: 2%;
	display: inline-block;
	overflow-y: scroll;
}

.imgBox {
	width: 100%;
	height: 100%;
	max-width: 124px;
	max-height: 124px;
	margin: auto;
}

.img {
	width: 100%;
	height: 100%;
	max-width: 124px;
	max-height: 124px;
	display: inline-block;
}

.btnBox {
	height: 50%;
}

.user-btn {
	width: 100%;
	margin-bottom: 20%;
	display: block;
	
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	outline: 0;
}
.user-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
	outline: 0;
}
.user-btn:active {
	position:relative;
	top:1px;
	outline: 0;
}

.user-btn:focus {
	outline:none;
}

.delChk {
	display: none;
}

.hideBtn {
	display: none;
}

.selected {
	color: red;
	font-weight: bold;
}

.status {
	display: inline-block;
}