<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.project.mapper.CallListMapper">
	<select id="getCallList" resultType="com.food.project.domain.CallListVO">
		select * from call_list where truck_code=#{truck_code} and email=#{email}
		order by festival_startdate desc
	</select>
	<select id="getMyCallList" parameterType="String" resultType="com.food.project.domain.CallListVO">
		select * from call_list where email=#{email}
		order by festival_startdate desc
	</select>
	<insert id="insertCallList" parameterType="com.food.project.domain.CallListVO">
		insert into call_list(name,place,festival_date,price,festival_name,festival_time,calltel,content)
		values(#{name},#{place},#{festival_startdate},#{festival_enddate},#{price},#{festival_name},#{festival_starttime},#{festival_enddate},#{calltel},#{content)
	</insert>
</mapper>