<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.project.mapper.EventMapper">

	<select id="getEvent" resultType="com.food.project.domain.EventVO" parameterType="String">
		SELECT EVENT_NAME, EVENT_START, EVENT_END, EVENT_CONTENT FROM EVENT WHERE TRUCK_CODE = #{truckcode}
	</select>
</mapper>