<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.project.mapper.LocationMapper">
	<!-- 위치 불러오기 -->
	<!-- <select id="getLocation" resultType="com.food.project.domain.LocationVO"> 
		select rownum,lat_y,lng_x from( select loc.* from location loc where truck_code 
		like #{truckcode} order by loc.loc_time desc) where rownum=1; </select> -->
	<!-- select * from( select loc.* from location loc where truck_code = #{truck_code} 
		order by loc.loc_time desc) where rownum=1; -->
	<select id="getLoc" resultType="Map">
		<!-- select * from location where lat_y is not null -->
	select lc.lat_y lat_y,lc.lng_x lng_x,ft.*,rv.total_review,rv.avg_review
	from location lc
	join foodtruck ft
	on lc.truck_code=ft.truck_code
	full outer join (select truck_code, count(*) total_review,
	avg(review_score) avg_review from review
	group by truck_code) rv
	on lc.truck_code=rv.truck_code
	where(ft.truck_code,lc.loc_time) in
		(select truck_code,max(loc_time) from location
		group by truck_code)
	</select>
	<select id="getLocation" resultType="com.food.project.domain.LocationVO">
	select lc.truck_code,lc.loc_time,lc.lat_y lat_y,lc.lng_x lng_x
	from location lc
	where lc.truck_code=#{truck_code} and lc.loc_time in
	(select max(loc_time) from location
	group by truck_code)
	</select>
	<!-- 위치넣기 -->
	<!-- <insert id="insertCustomer" parameterType="com.food.project.domain.CustomerVO"> 
		insert into customer(email,password,telephone,position,nickname) values(#{email},#{password},#{telephone},#{position},#{nickname}) 
		</insert> -->
</mapper>