<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.project.mapper.OnboardMapper">
<select id="getOnboard" resultType="com.food.project.domain.OnboardVO">
	select to_char(onboard_date,'YY-MM-DD') onboard_date, f.truck_url,f.hours,f.truck_starttime,f.truck_endtime,f.brandname, f.truck_code, o.onboard_state
	from onboard o join foodtruck f
	on (o.truck_code = f.truck_code)
	where o.email = #{email}
</select>
	<insert id="insertOnboard" parameterType="com.food.project.domain.OnboardVO">
		insert into onboard(truck_code, email, onboard_date, onboard_state)
		values(#{truck_code}, #{email}, sysdate, #{onboard_state})
	</insert>
	<delete id="DeleteOnboard">
		update onboard set onboard_state =#{onbaord_state} where truck_code=#{truck_code} and email=#{email}
	</delete>
	<select id="getOnSale" resultType="com.food.project.domain.OnboardVO" >
		select o.truck_code, f.hours, f.brandname, o.onboard_date
		from onboard o join foodtruck f
		on (o.truck_code = f.truck_code)
		where o.email = #{email}
	</select>
	<select id="rideck" resultType="com.food.project.domain.OnboardVO" >
		select onboard_state
		from onboard 
		where email = #{email} and truck_code= #{truck_code}
	</select>
	<update id="updateOutdate"  parameterType="com.food.project.domain.OnboardVO">
		update onboard set onboard_state=#{onboard_state} , out_date= sysdate where truck_code=#{truck_code} and email=#{email}
	</update>
	<update id="updateOnboarddate"  parameterType="com.food.project.domain.OnboardVO">
		update onboard set onboard_state=#{onboard_state} , onboard_date= sysdate where truck_code=#{truck_code} and email=#{email}
	</update>
	<select id="CountOnboard" resultType="com.food.project.domain.OnboardCountDTO">
		select to_char(onboard_date, 'yy-mm-dd') as onboard_date, count(*) as count
		from onboard where onboard_state=#{onboard_state} and truck_code=#{truck_code}
		group by onboard_date order by onboard_date
	</select>
	<select id="countonboarddate" resultType="com.food.project.domain.OnboardCountDTO"  parameterType="com.food.project.domain.PeriodDTO">
		select to_char(onboard_date, 'yy-mm-dd') as onboard_date, count(*) as count from onboard where onboard_state = #{onboard_state}
		and onboard_date between to_date(#{beginDate}, 'yy-mm-dd') and to_date(#{endDate}, 'yy-mm-dd')
		and truck_code = #{truck_code} group by onboard_date order by onboard_date
	</select>
</mapper>
