@charset "UTF-8";

#with {
	margin: 0 auto;
	margin-top: 150px;
	width: 1200px;
	height: 850px;
	border: 1px solid darkgray;
}
#height{
	margin: 0 auto;
	width: 1000px;
	height: 750px;
	border: 1px solid darkgray;
}
h1, h3{
	text-align: center;
}
#sg{
	margin: 0 auto;
	width: 280px;
	height: 600px;

	float: left;
	text-align: left;
}
#sj{
	margin: 0 auto;
	width: 450px;
	height: 800px;

	float: left;
	text-align: center;
}
#name{
	margin-top: 25px;
}
input{
	margin-top: 30px;
}
h4{
	margin-top: 30px;
}
input{
	text-align: center;
}
#oj{

	margin-top: 600px;
	width: 200px;
	float:left;
	text-align: center;
}
#festivalname{
	margin-top: 40px;
	margin-bottom: 50px;
}
#place{
	margin-top: 40px;
	margin-bottom: 90px;
}
#truckcost{
	margin-bottom: 80px;
}
#date{
	margin-top: 10px;
}
#time{
	 margin-bottom: 70px; 
	 margin-top:40px;
}

#content{
	margin-top: 60px;
}
#btn1{
	width: 150px;
}
#btn2{
	width: 150px; 
	margin-top: 15px;
}
#btn3{
	width: 150px;
}
textarea{
	width: 100%; 
	margin-top: 20px;
}
#inname{
	margin-top: 20px; 
	width: 100%; 
	display: inline;
}
#intel{
	margin-top: 20px; 
	width: 100%x; 
	display: inline;
}
#inplace{
	width: 100%;  
	display: inline;
}
#Startdate, #Enddate{
	width:197px; 
	display: inline;
}
#Starttime, #Endtime{
	width:197px; 
	display: inline;
}
#postnum{
	width: 260PX; 
	display: inline;
}
#loadaddr{
	top: 5px;
}
#cost{
	width: 100%;
}
#div1{
	margin-top: -25px;
	padding: 0 !important;
}
#div2{
	margin-top: -25px;
	padding: 0 !important;
}
#div3{
	padding: 0 !important;
}
#pop{
    width:400px; height:250px; background:white; 
    position:absolute; top: 100px; left:300px; text-align:center; 
    border:2px solid #000;
   }
#radio{
	margin: 0 auto;
	text-align: left;
}
#gg{
	margin: 0 auto;
	margin-left: 20px;
	width:350px; 
	height:200px;
	
}
#ff{
	
	margin-top: 50px;
	text-align: center;
	
}
#oo{
	margin: 0 auto;
	margin-top:10px;
	margin-left: 5px;
	border: 1px solid darkgray;
}