@font-face {
	font-family: 'Arita-dotum-Medium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.mw1650 {
	max-width: 1650px !important;
}

.mgt50 {
	margin-top: 50px;
}

#with {
	margin-top: 50px;
	height: 600px;
	font-family: 'yg-jalnan';
	border-radius: 10px;
	background-color: lightgray;
}
.callTitle {
	font-weight: bold;
	font-size: 35px;
	height: 35px;
	margin: 23px 0 17px;
	color: #666;
	text-align: center;
	color: rgb(255, 94, 24);
}

.calltext {
	border: 3px solid lightgray;
	/* color: #666; */
	height: 450px;
	position: relative;
	left: 25%;
	bottom: 310px;
	width: 80%;
}

td {
	border: 0.5px solid lightgray;
	font-size: 100%;
	font-family: 'Arita-dotum-Medium';
	padding: 15px;
	height: 200px;
}

#col_1 {
	border: 0.5px solid lightgray;
	font-size: 100%;
	font-family: 'Arita-dotum-Medium';
	padding: 15px;
	width: 50%;
	height: 50px;
}

#col_2 {
	border: 0.5px solid lightgray;
	font-size: 100%;
	font-family: 'Arita-dotum-Medium';
	padding: 15px;
	width: 30%;
	height: 50px;
}

#col_3 {
	border: 0.5px solid lightgray;
	font-size: 100%;
	font-family: 'Arita-dotum-Medium';
	padding: 15px;
	width: 20%;
	height: 50px;
}

.menuTitle {
	font-size: 50px;
	height: 60px;
	margin: 23px 0 17px;
	color: #666;
	text-align: center;
	position: relative;
	bottom: 20px;
	font-family: 'Hanna', serif;
}

table {
	width: 100%;
}