.callTitle{
	font-weight: bold;
	font-size: 35px;
	height: 35px;
	margin: 23px 0 17px;
	color: #666;
	text-align: center;
	color: rgb(255, 94, 24);
}
.calltext{
	border: 0.5px solid lightgray;
	color: #666;
	height:500px;
	


}
table{
	width:100%;
}
td ,th{
	border: 0.5px solid rgb(255, 166, 77);
	font-size: 100%;
}



