@charset "UTF-8";

#title2{
	color: rgb(255, 94, 24);
	
}
#title {
	width: 100%;
	margin: 0 auto;
	font-size: 200%;
	border-top: solid gray;
	border-bottom: solid gray;
	border-width: thin;
}

#title {
	color: rgb(0, 123, 255);
}

#all {
	margin-top: 90px;
	width:45%;
	margin-left: auto;
	margin-right: auto;
	
}

button{
	background-color: rgb(255, 94, 24);
}
