@charset "UTF-8";
p{
   color: rgb(255, 94, 24);
}
#title {

font-size: 200%;
    width: 84%;
    margin-left: 8.3%;
    margin-top: 25px;
    border-radius: 15px;
}

#searchall{
      margin: 0 auto;
    width: 110.2%;
    margin-left: -4.8%;
    margin-top: -3.3%;
}
.form-inline{
   width:100%;
}

#searchbox{
   width:35%;
}
#searchbutton{
   
   background-color: rgb(255, 94, 24);
   color:white;
}
#pageadd{
   margin-left: 2px;
}
/* #add{
   margin: 0 auto;
   
}  */
.pagination{
	position: relative;
    left: 48%;
}

#pageadd{
   
   background-color: rgb(255, 94, 24);
   color: white;

   
}
#table{
      width: 83.5%;
    /* margin: 0 auto; */
    margin-left: 8.6%;
    /* border: 1px solid; */
    /* border-color: lightgray; */
}
#nextall{
   width:100%;
   
} 



span{
   color: rgb(255, 94, 24);
}
