@charset "UTF-8";
p{
	color: rgb(255, 94, 24);
}
#title {

	font-size: 200%;
	width:85%;
	margin: 0 auto;
}

#search{
	margin: 0 auto;
	width:85%;
}

#searchbox{
	width:60%;
}
#search2{
	width: 20%;
	background-color: rgb(255, 94, 24);
	color:white;
}
/* #add{
	margin: 0 auto;
	
} */

#addb{
	background-color: rgb(255, 94, 24);
	color: white;
	

	
	
}
#table{
	width:85%;
	margin: 0 auto;
}
#alll{
	width:85%;
	margin: 0 auto;
	
}


span{
	color: rgb(255, 94, 24);
}
