@charset "UTF-8";
p{
   color: rgb(255, 94, 24);
}
#title {

   font-size: 200%;
   width:100%;
	marign: 0 auto;
   
}

#searchall{
   margin: 0 auto;
   width:100%;
}
.form-inline{
   width:100%;
}

#searchbox{
   width:35%;
}
#searchbutton{
   
   background-color: rgb(255, 94, 24);
   color:white;
}
#pageadd{
   margin-left: 2px;
}
/* #add{
   margin: 0 auto;
   
}  */
.pagination{
	margin-left: 40%;
}

#pageadd{
   
   background-color: rgb(255, 94, 24);
   color: white;

   
}
#table{
   width:100%;
   margin: 0 auto;
}
#nextall{
   width:100%;
   
} 



span{
   color: rgb(255, 94, 24);
}
