@charset "UTF-8";

.helpTitle {
	margin-top: 10%;
}

h1 {
	text-align: center;
}

.container-fluid {
	height: 500px;
	border: 2px lightgray solid;
	margin-top: 100px;
	padding-top: 160px;
}

.col-md-6 {
	text-align: center;
}

.btn {
	color: black !important;
}