@charset "UTF-8";
@font-face {font-family: 'yg-jalnan';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight: normal;font-style: normal; } 

#with {
	     margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
    height: 600px;
    overflow: auto;
    border: 4px solid;
    border-radius:10px;
    border-color: lightgray;
}
	
.sunjae{
	width:200px;
	margin: 0 auto;
	text-align: center;
}
.sg {
    transform: translate(8%,15%);
}
h1{
	text-align:center; 
	font-family: 'yg-jalnan';
}