@charset "UTF-8";

p {
	margin: 0 !important;
}

#with {
	margin-top: 50px;
	height: 600px;
	border-radius: 10px;
	background-color: lightgray;
	overflow: auto;
}

#drawal {
	margin: 2% auto;
	width: 700px;
	height: 400px;
	border: 1px solid darkgray;
	font-family: 'yg-jalnan';
}

#check {
	margin: 0 auto;
	margin-top: 10px;
	height: 150px;
	width: 700px;
	border: 1px solid darkgray;
}

#radius {
	border-radius: 5px;
}

.goodbye {
	margin: 0 auto;
	margin-top: 30px;
	height: 60px;
	width: 200px;
}

button {
	height: 60px;
	width: 200px;
}

.p1 {
	font-size: 30px;
	text-align: center;
	color: #0080FF;
}

.p2 {
	font-size: 30px;
	text-align: center;
}

.p3 {
	font-size: 20px;
}