@font-face {font-family: 'yg-jalnan';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight: normal;font-style: normal; } 
#with {
    margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
    height: 600px;
    font-family: 'yg-jalnan';
    border-radius: 10px;
    background-color: lightgray;
}
.row {
	    margin: 3px;
    height: 400px;
    overflow-y: auto;
}
.sg {
    transform: translate(8%,15%);
}
h1{
	text-align:center; 
	margin-top:10px;
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    }
    