@charset "UTF-8";
@font-face {font-family: 'yg-jalnan';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight: normal;font-style: normal; } 
body {
   font-family: 'yg-jalnan';
}

.wrap {
   width: 5000px;
   height:306px;
   overflow:auto;
   border: 1px solid ;
  
   
}

.list {
   width: 300px;
   height: 300px;
   display: inline-block;
   border: solid 3px;
}
.result {
	width: 5000px;
 	height:306px;
	overflow:auto;
	border: 1px solid ;
}
.ended {
   background-color: rgba(255, 94, 24, .6);
}
.payed {
   background-color: rgba(135,206,235, .7);
}

h4 {
   text-align: center;
}

.num {
   color: crimson;
   float: left;
   font-size: 1.8em;
}

.num+span {
   float: right;
}

.num+span+div {
   border: solid 3px;
}
button{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 18%;
    width: 50%;
}