@charset "UTF-8";
@font-face {font-family: 'yg-jalnan';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight: normal;font-style: normal; } 
body {
   font-family: 'yg-jalnan';
}

.wrap {
	width: 1028px;
	height:412px;
	margin: 0 auto;
	overflow:auto;
	border: 1px solid ;
	padding-left:3px;
	padding-right:3px;
	padding-top:2px;
   
}

.list {
   width: 200px;
   height: 200px;
   display: inline-block;
   border: solid 3px;
   margin:2px;
}
.result {
	width: 1028px;
 	height:206px;
 	margin: 0 auto;
	overflow:auto;
	border: 1px solid ;
	padding-left:3px;
	padding-right:3px;
}
.today_sales {
	width: 1028px;
	height:60px;
	margin: 0 auto;
	padding-left:3px;
	padding-top:20px;
	padding-right:10px;
	text-align:right;
	font-size:3rem;
}
.ended {
   background-color: rgba(255, 94, 24, .6);
}
.payed {
   background-color: rgba(135,206,235, .7);
}

h4 {
   text-align: center;
}

.num {
   color: crimson;
   float: left;
   font-size: 1em;
}

.num+span {
   float: right;
}

.num+span+div {
   border: solid 3px;
}
button{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 18%;
    width: 50%;
}
.menu p span {
	font-size:0.8rem;
	display : inline-block;
	width:5%;
}
.menu p span:first-child {
	display : inline-block;
	width:65%;
	padding-left:5px;
}
.menu p span:last-child {
	display : inline-block;
	width:15%;
	text-align:right;
} 