@charset "UTF-8";

.menuBox {
	display: block;
	width: 40%;
	overflow:auto;
}

.menuList {
	width: 200px;
	height: 200px;
	border: 1px solid;
	display: inline-block;
	text-align: center;
}

.imgSize {
	width: 200px;
	height: 200px;
}