@charset "UTF-8";

.content {
	height: 50%;
	border: 0.5px solid lightgray;
	text-align: center;
	padding-top: 2%;
	display: inline-block;
	
}

.eventBar {
	height: 15%;
}

ul,li { list-style:none; }
a { text-decoration:none; color:#000; }
.tab { border:1px solid #ddd; border-left:none; background:#fff; overflow:hidden; width:60%; display:inline-block; float:left;}
.tab li { float:left; width:50%; border-left:1px solid #ddd; text-align:center; box-sizing:border-box; font-weight:bold;}
.tab li { display:inline-block; padding:20px; cursor:pointer; }
.tab li.on { background-color:#eee; color:#f00; font-weight:bold;}
.tab_con { clear:both; margin-top:5px; padding:0 !important; height:80%; }
.tab_con div { display:none; /*line-height:100px;*/ text-align:center; }

.eventBox {
	height: 100%;
	border: 0.5px solid lightgray;
	text-align: center;
	display: inline-block;
	overflow-y: scroll;
	padding: 2% 0 2% 2%;
}

.paddingZero {
	padding: 0 !important;
}

.user-btn {
	width: 10%;
	height:55%;
	display: block;
	margin: 3% 1% 0 0;
	position: relative;
	bottom: 0;
	
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.user-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.user-btn:active {
	position:relative;
	top:1px;
}

.user-btn:focus {
  outline: none;
}

.max-width {
	max-width: 48% !important;
}

.event {
	border: 1px lightgray solid;
	margin: 0 2% 2% 0;
	padding: 0.5% 4% 2% 4%;
	float: left;
}

.eventItem {
	width: 20% !important;
	display: inline-block !important;
	margin-right: 7%;
	text-align: right !important;
	float: left;
	font-weight: bold;
}

.eventItemContent {
	width: 73%;
	display: inline-block !important;
	text-align: left !important;
}

.manageEvent {
	width: 100%;
	text-align: right !important;
	font-size: 80%;
}

.edit {
	margin-right: 2%;
	cursor: pointer;
}

.delete {
	cursor: pointer;
}

.endEventEdit {
	display: none !important;
}

.menuWidth {
	width: 28.1%;
	color: #666
}

.showByte {
	margin-top: 5px;
	float: right;
	margin-right: 60px;
}

.titleStyle {
	width: 80px;
}

.titleStyle {
	width: 120px;
}

.contentStyle {
	width: 590px;
}

.date {
	width: 30%;
	color: #666;
}

.addMenuBtn {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-decoration:none !important;
	margin: 10px 230px 0 230px;
	margin-top: 10px;
}

.addMenuBtnImg {
	width: 50px;
	height: 50px;
}

.deleteMenuBtn {
	display: inline-block;
	width: 10px;
	height: 10px;
	text-decoration:none !important;
}

.deleteMenuBtnImg {
	width: 20px;
	height: 20px;
}

.addmenuBtn img:last-child {
	display: none
}

.addmenuBtn:hover img:first-child {
	display: none
}

.addmenuBtn:hover img:last-child {
	display: inline-block
}

.deleteMenuBtn img:last-child {
	display: none
}

.deleteMenuBtn:hover img:first-child {
	display: none
}

.deleteMenuBtn:hover img:last-child {
	display: inline-block
}

.addEventTitle {
	font-weight: bold;
	font-size: 35px;
	height: 35px;
	margin: 23px;
}

.editEventTitle {
	font-weight: bold;
	font-size: 35px;
	height: 35px;
	margin: 23px;
	display: inline-block;
}

.fixed-top {
	z-index: 1 !important;
}

.labelStyle {
	color: #666;
	font-weight: bold;
	font-size: 18px;
}

.blankBox {
	height: 90px;
}

.fixedStyle {
	position: fixed;
	top: 840px;
	left: 381px;
	background-color: white;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 17px !important;
	width: 1140px !important;
	height: 75px;
}

.color666 {
	color: #666;
}

.imgUploadBtn {
	cursor: pointer;
}

.deleteEventDiv {
	display: inline-block;
	position: relative;
	bottom: 10px;
	right: 15px;
}

#noImage {
	width: 400px;
	height: auto;
	vertical-align: top;
	margin: 94.5px 0;
}

#addEvent {
	float: right;
}

#eventName,#target{
	width: 90%;
	color: #666;
}

#details {
	width: 90%;
	height: 147px;
	color: #666;
}

#upload {
	display: inline-block;
	vertical-align: top;
}

#previewId {
	width: 405px;
	height: 305px;
	border: 3px #ff9248 solid;
	margin-right: 14px;
	overflow: hidden
}

#layer1 {
	overflow-y: scroll;
}

#layer2 {
	overflow-y: scroll;
}

#uploadImg {
	display: none;
}

#deleteEvent {
	width: 50px;
	height: 50px;
}

table {
	display: inline-block;
	border: 3px #ff9248 solid;
	padding: 30px 0 10px 0;
}

td {
	padding-bottom: 20px;
}

label {
	float: right;
	margin-right: 7%;
}

textarea {
	resize: none !important;
}



.pop-layer .pop-container {
	padding: 20px 25px 0 25px;
}

.pop-layer2 .pop-container2 {
	padding: 20px 25px 0 25px;
}

.pop-layer div.ctxt {
	color: #666;
	line-height: 25px;
}

.pop-layer2 div.ctxt2 {
	color: #666;
	line-height: 25px;
}

.pop-layer .btn-r {
	width: 100%;
	margin: 10px 0 20px;
	padding-top: 10px;
	border-top: 1px solid #ff9248;
	text-align: center;
}

.pop-layer2 .btn-r {
	width: 100%;
	margin: 10px 0 20px;
	padding-top: 10px;
	border-top: 1px solid #ff9248;
	text-align: center;
}

.pop-layer {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1217px;
	height: 870px;
	background-color: #fff;
	border: 5px solid #ff9248 /*#3571B5*/;
	z-index: 10;
}

.pop-layer2 {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1217px;
	height: 870px;
	background-color: #fff;
	border: 5px solid #ff9248 /*#3571B5*/;
	z-index: 10;
}

.dim-layer {
	display: none;
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.dim-layer2 {
	display: none;
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.dim-layer .dimBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
	z-index: 2;
}

.dim-layer2 .dimBg2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
	z-index: 2;
}

.dim-layer .pop-layer {
	display: block;
}

.dim-layer2 .pop-layer2 {
	display: block;
}

.btnCommonStyle {
	display: inline-block;
	width: 80px;
	height: 40px;
	padding: 0 14px 0;
	border: 1px solid #ff5000;
	background-color: #ff6700;
	font-size: 20px;
	color: #fff;
	line-height: 25px;
}

.btnCommonStyle:hover {
	border: 1px solid #ff3f00;
	background-color: #ff4800;
	color: #fff;
}