@charset "UTF-8";

#Line_Controls_Chart{
	margin-left: 150px;
	margin-top: 50px;
	width: 800px;
	height: 600px;
	border: 1px solid darkgray;
	float: left;
}

#chart_div{
	margin: 0 auto;
	margin-top: 50px;
	width: 700px;
	height: 500px;
	border: 1px solid darkgray;
}
h4{
	text-align: center;
	float: center;
}
#search{
	width: 30px;
	height: 25px;
}
#buttonbar{
	float: right;
	width: 400px;
	height: 50px;
	margin-top: 10px;
	margin-right: 65px;
}
.sidemenu{
	float: left;
	position:fixed;
}
#wrap {
	margin-left: 150px;
	margin-top: 50px;
	width: 800px;
	height:200px;
	border: 1px solid darkgray;
}
.col {
	margin :0 auto;
}
#forPush{
	margin:0 auto;
	width:400px;
}
.showByte{
	margin:0 auto;
	width:130px;
}

 