@charset "UTF-8";

.menuTitle {
	text-align: center;
	padding-top: 20px;
}

.mw1650 {
	max-width: 1650px !important;
}

.mgt50 {
	margin-top: 50px;
}

#with {
	margin-top: 50px;
	height: 600px;
	font-family: 'yg-jalnan';
	border-radius: 10px;
	background-color: lightgray;
}

#Line_Controls_Chart {
	width: 100%;
	height: 600px;
	border: 3px solid lightgray;
	margin-top: 2%;
}

#chart_div {
	margin: 0 auto;
	width: 1000px;
	height: 450px;
	border: 1px solid darkgray;
}

h4 {
	text-align: center;
	float: center;
}

#search {
	width: 15%;
	height: 25px;
	margin-right: 6%;
}

#buttonbar {
	height: 50px;
	margin-top: 10px;
	text-align: right;
}

.sidemenu {
	float: left;
	position: fixed;
}

#wrap {
	width: 80%;
	height: 200px;
	border: 3px solid lightgray;
	position: relative;
	left: 20%;
	bottom: 310px;
}

#forPush {
	width: 100%;
}

#details {
	width: 100%;
}

.showByte {
	width: 100%;
	text-align: right;
	margin-top: 0.5%;
}