@charset "UTF-8";

.content {
	height: 50%;
	border: 0.5px solid lightgray;
	text-align: center;
	padding-top: 2%;
	display: inline-block;
	
}

.eventBar {
	height: 15%;
}

ul,li { list-style:none; }
a { text-decoration:none; color:#000; }
.tab { border:1px solid #ddd; border-left:none; background:#fff; overflow:hidden; width:60%; display:inline-block; float:left;}
.tab li { float:left; width:50%; border-left:1px solid #ddd; text-align:center; box-sizing:border-box; font-weight:bold;}
.tab li { display:inline-block; padding:20px; cursor:pointer; }
.tab li.on { background-color:#eee; color:#f00; font-weight:bold;}
.tab_con { clear:both; margin-top:5px; padding:0 !important; height:80%; }
.tab_con div { display:none; /*line-height:100px;*/ text-align:center; }

.eventBox {
	height: 100%;
	border: 0.5px solid lightgray;
	text-align: center;
	display: inline-block;
	overflow-y: scroll;
	padding: 2% 0 2% 2%;
}

.paddingZero {
	padding: 0 !important;
}

.user-btn {
	width: 10%;
	height:55%;
	display: block;
	margin: 3% 1% 0 0;
	position: relative;
	bottom: 0;
	
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.user-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.user-btn:active {
	position:relative;
	top:1px;
}

.user-btn:focus {
  outline: none;
}

.max-width {
	max-width: 48% !important;
}

.event {
	border: 1px lightgray solid;
	margin: 0 2% 2% 0;
	padding: 0.5% 4% 2% 4%;
	float: left;
}

.eventItem {
	width: 20% !important;
	display: inline-block !important;
	margin-right: 7%;
	text-align: right !important;
	float: left;
	font-weight: bold;
}

.eventItemContent {
	width: 73%;
	display: inline-block !important;
	text-align: left !important;
}

.manageEvent {
	width: 100%;
	text-align: right !important;
	font-size: 80%;
}

.edit {
	margin-right: 2%;
	cursor: pointer;
}

.delete {
	cursor: pointer;
}

.endEventEdit {
	display: none !important;
}

.menuWidth {
	width: 32.5%;
}

.showByte {
	margin-top: 5px;
	float: right;
}

.titleStyle {
	width: 80px;
}

#addEvent {
	float: right;
}

#eventName,#target{
	width: 100%;
}

#details {
	width: 100%;
	height: 147px;
}

#upload {
	display: inline-block;
	vertical-align: top;
}

#previewId {
	width: 400px;
	height: 300px;
}

table {
	display: inline-block;
}

td {
	padding-bottom: 20px;
}

label {
	float: right;
	margin-right: 7%;
}

textarea {
	resize: none !important;
}



.pop-layer .pop-container {
	padding: 20px 25px;
}

.pop-layer div.ctxt {
	color: #666;
	line-height: 25px;
}

.pop-layer .btn-r {
	width: 100%;
	margin: 10px 0 20px;
	padding-top: 10px;
	border-top: 1px solid #DDD;
	text-align: right;
}

.pop-layer {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: auto;
	background-color: #fff;
	border: 5px solid #3571B5;
	z-index: 10;
}

.dim-layer {
	display: none;
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.dim-layer .dimBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.dim-layer .pop-layer {
	display: block;
}

button.btn-layerClose {
	display: inline-block;
	height: 25px;
	padding: 0 14px 0;
	border: 1px solid #304a8a;
	background-color: #3f5a9d;
	font-size: 13px;
	color: #fff;
	line-height: 25px;
}

button.btn-layerClose:hover {
	border: 1px solid #091940;
	background-color: #1f326a;
	color: #fff;
}