@charset "UTF-8";
body {
	font-family: "Open Sans", sans-serif;
}

.wrap {
	width: 1300px;
	height: 300px;
	overflow-x: scroll;
	white-space: nowrap;
	overflow-y: hidden;
}

.list {
	width: 300px;
	height: 100%;
	display: inline-block;
	border: solid 3px;
}

wrap {
	white-space: nowrap;
}

.menu {
	
}

.head {
	
}

h4 {
	text-align: center;
}

.num {
	color: darkgreen;
	float: left;
	font-size: 1.8em;
}

.num+span {
	float: right;
}

.num+span+div {
	border: solid 3px;
}