@charset "UTF-8";

#with {
   margin: 0 auto;
   margin-top: 150px;
   width: 1200px;
   height: 800px;
   border: 1px solid darkgray;
   border-radius: 10px;
}
img{
   width: 200px;
   height: 150px;
   float: left;
   margin-top: 15px;
   border-radius: 10px;
}
#height{
   margin: 0 auto;
   margin-top: 50px;
   width: 1100px;
   height: 700px;
   border: 1px solid darkgray;
   border-radius: 10px;
}
h1{
   margin: 0 auto;
}
#cross{
   margin-left: 250px;
   width: 800px;
   
}
#btngroup{
   margin: 0 auto;
   height: 50px;
   width: 1000px;
}
#btn1, #btn2, #btn3, #btn4, #btn5{
   width: 150px;
   height: 50px;
   text-align: center;
   display: inline-block;
   border: 1px solid darkgray;
   margin-left: 20px;
   margin-right: 20px;
}
#creatbtn, #creatbtncancle{
   margin-top: 5px;
   width: 120px;
   height: 40px;
   text-align: center;
   display: inline-block;
   border: 1px solid darkgray;
}
#menu{
   margin:0 auto;
   margin-top: 5px;
   border: 1px solid darkgray;
   width: 932px;
   border-radius: 10px;
   height: 400px;
   position:absolute; top: 250px; left:83px; text-align:center; 
    border:2px solid darkgray;
    text-align: center;
    overflow-y: scroll;
}
#review{
   margin:0 auto;
   margin-top: 5px;
   border: 1px solid darkgray;
   width: 932px;
   height: 400px;
   border-radius: 10px;
   position:absolute; top: 250px; left:83px; text-align:center;
    border:2px solid darkgray;
    overflow-y: scroll;
}
#truckinfo{
   margin:0 auto;
   margin-top: 5px;
   width: 932px;
   height: 400px;
   border-radius: 10px;
   position:absolute; top: 250px; left:83px; text-align:center;
  
}
#event{
   margin:0 auto;
   margin-top: 5px;
   border-radius: 10px;

   width: 932px;
   height: 400px;
   position:absolute; top: 250px; left:83px; text-align:center;
    border:2px solid darkgray;
    overflow-y: scroll;
}
#location{
   margin:0 auto;
   margin-top: 5px;
   border-radius: 10px;
   width: 932px;
   height: 400px;
   position:absolute; top: 250px; left:83px; text-align:center; 
    border:2px solid darkgray;
}
#locationdetail{
   margin:0 auto;
   margin-left: 10px;
   margin-top: 5px;
   border-radius: 10px;
   border: 1px solid darkgray;
   width: 350px;
   height: 385px;
   float:left;

}
#map{
   margin:0 auto;
   margin-top: 5px;
   margin-left: 10px;
   border-radius: 10px;
   border: 1px solid darkgray;
   width: 550px;
   height:385px; 
   float: left;"
}
#ride, #call{
   width: 100px;
   height: 30px;
   text-align: center;
   display: inline-block;
   border: 1px solid darkgray;
   margin: 0 auto;
}
 #credit, #imageplus{
    width: 100px;
   height: 30px;
   text-align: center;
   display: inline-block;
   border: 1px solid darkgray;
   margin: 0 auto;
   }


.col-md-3{
   
   margin: 4%;
   height: 250px;
   border: 1px solid darkgray;
   text-align: center;
   border-radius: 10px;
   
}
.img{
   width: 200px !important;
}

.row{

   text-align: center;
   
}
.menuname{
   margin-top: 160px;
}
.col-md-12{
   border: 1px solid darkgray;
   margin: 0 auto;
   margin-top:5px;
   margin-bottom:5px;
   width: 880px;
   height: 200px;
   button-text-align:right;
   border-radius: 10px;
}
#creatbtngroup{
   text-align: right;
}
.star_rating {font-size:0; letter-spacing:-4px;
 widht: 60px;
}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}

.reviewbar{
   margin-top:5px;
   width: 50%;
    text-align: left;
   float: left;

}
.reviewbar2{
   width: 50%;
   float: left;
   text-align: right;

}
#content{
   margin-top: 50px;
   text-align: left;
   width: 848px;
   hegiht: 150px;

}
#star{
   
   text-align: center;
   margin: 15px auto;
   width:200px;
   height: 160px;
   float: left;
   border: 1px solid darkgray;
   border-radius: 10px;
}
#reviewcotent{
   margin: 15px auto;
   margin-left: 10px;
   float: left;
   width: 630px;
   height: 120px;
   border: 1px solid darkgray;
   border-radius: 10px;
}
#starcontent{
   margin: 10px auto;
   margin-top: 40px;
   text-align: center;
}
#reviewbtn{
   float: right;
   margin-right: 20px;
}
#truckinfohead{

   float: left;
   width: 255px;


}
#truckruntime{
   padding-top: 40px;
   margin: 5px 10px 0 5px;
   text-align: center;
   width: 250px;
   height: 132px;
   border: 1px solid darkgray;
   border-radius: 10px;
}
#cacheinfo{
   padding-top: 40px;
   margin: 5px 10px 0 5px;
   text-align: center;
   width: 250px;
   height: 132px;
   border: 1px solid darkgray;
   border-radius: 10px;
}
#managerinfo{
   padding-top: 40px;
   margin: 5px 10px 0 5px;
   text-align: center;
   width: 250px;
   height: 132px;
   border: 1px solid darkgray;
   border-radius: 10px;
}
#truckruntime1{
   padding-top: 40px;
   margin: 5px 5px 5px 5px;
   width: 670px;
   height: 132px;
   border: 1px solid darkgray;
   border-radius: 10px;
}
#cacheinfo1{
   padding-top: 40px;
   margin: 5px 5px 5px 5px;
   width: 670px;
   height: 132px;
   border: 1px solid darkgray;
   border-radius: 10px;
}
#managerinfo1{
   padding-top: 30px;
   margin: 5px 5px 5px 5px;
   width: 670px;
   height: 132px;
   border: 1px solid darkgray;
   border-radius: 10px;
}
#truckinfobody{
   text-align:left;
   float: left;
   width: 400px;

}
#eventimage{
   margin: 0 auto;
   width: 500px;
   height: 250px;

}
#eventbody{
   float: left;
   margin: 0 auto;
   margin-top: 20px;
   width: 500px;
   height: 350px;
}
#eventcontent{
   float: left;
   margin: 0 auto;
   margin-top: 30px;
   margin-left: 70px;
   width: 280px;
   height: 350px;
   text-align: left;
}
#eventborder{
   margin-top: 50px;
   width: 930px;
   height: 320px;
   border-top: 1px solid darkgray;
   border-bottom: 1px solid darkgray;
}